*{
    padding: 0; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: 700;
    height: 80px;
    display: flex;
    align-items: center;
}

body{
    background-color: black;
}

/* scrollbar */
::-webkit-scrollbar {
    background-color: #ffffff;
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
}
  
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #656565;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    }

nav{
    background-color: black;
    height: 100vh;
    width: 15vw;
    border-right: 1px solid rgb(37, 37, 37);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#logo{
    padding: 20px 0px 16px;
}

.options{
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 14vw;
    gap: 14px;
    border-radius: 8px;
    padding: 12px;
    margin: 2px 0px 2px 0px;
    align-self: center;
}

.options:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
}

.bold{
    font-weight: bold;
}

.icons{
    height: 24px;
}

.propic{
    border-radius: 100%;
    overflow: hidden;
    height: 24px;
    width: 24px;
}

.container{
    overflow-y: scroll;
    display: flex;
}

.storycontain{
    display: flex;
    flex-direction: row;
    width: 630px;
    height: 84px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.storyimg{
    border-radius: 100%;
    overflow: hidden;
    height: 56px;
    width: 56px;
}

.storypro1{
    max-width: 74px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: white;
    overflow: hidden;
    padding: 0px 2px 0px 2px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .01em;
}
.storypro2{
    max-width: 74px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: rgb(168, 168, 168);
    overflow: hidden;
    padding: 0px 2px 0px 2px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .01em;
}

.storyborder1{
    height: 60px;
    width: 60px;
    border: 2px solid #f62a7f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyborder2{
    height: 60px;
    width: 60px;
    border: 1px solid #6a6a6a74;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.storybox{
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 68px;
    box-sizing: border-box;
    height: 84px;
}

.storybox:hover{
    cursor: pointer;
}

.middle{
    width: 57vw;
    display: flex;
    justify-content: center;
}

#middlecont{
    width: 630px;
}

.right{
    display: flex;
    width: 28vw;
    height: 100vh;
    /* border-left: 1px solid rgb(37, 37, 37); */
    margin-top: 36px;
    flex-direction: column;
}

#arrow{
    height: 45px;
    display: flex;
    position: absolute;
    right: 15px;
    align-self: center;
}

#arrow{
    cursor: pointer;
}

.right_propic{
    height: 44px;
    width: 44px;
    overflow: hidden;
    border-radius: 100%;
}

.right_propic > img{
    height: 44px;
}

#accounts{
    display: flex;
    width: 319px;
    flex-direction: column;
    gap: 16px;
}

.accinfos{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 303px;
    align-items: center;
    padding: 4px 16px 4px 16px;
    justify-content: space-between;
    
}

.infobox{
    width: 183px;
}

.username{
    font-weight: 600;
}

.proinfo{
    color: rgb(168, 168, 168);
    font-size: 12px;
    overflow: hidden;
}

.bluetext{
    font-size: 12px;
    color: #0095F6;
    padding-left: 12px;
}

.suggestbox{
    width: 303px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    padding: 4px 16px 0px 16px;
}

.sugtext1{
    color: rgb(168, 168, 168);
}
.sugtext2{
    font-size: 12px;
}

.acc_cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#footer > div > ul{
    display: flex;
    list-style-type: none;
    gap: 4px;
}

#footer{
    display: flex;
    flex-direction: column;
    padding: 4px 16px 4px 16px;
    margin-top: 28px;
    gap: 2px;
}

.foottext{
    color: rgb(115, 115, 115);
    font-size: 12px;
}

.right_cont{
    display: flex;
    width: 319px;
    flex-direction: column;
}

.lastline{
    margin-top: 18px;
}

.postcont{
    width: 630px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.posttop{
    display: flex;
    justify-content: space-between;
    width: 466px;
    align-items: center;
}

.posttopmid{
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postpropic{
    height: 32px;
    width: 32px;
    overflow: hidden;
    border-radius: 100%;
}

.postpropic > img{
    height: 32px;
}

.postuser{
    font-size: 14px;
    font-weight: 600;
}

.posttime{
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.postmusic{
    font-size: 12px;
    max-width: 390px;
    overflow: hidden;
    height: 18px;
    text-overflow: ellipsis;
}

.postdots{
    height: 24px;
    width: 24px;
}

.videocont{
    height: 585px;
    width: 468px;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}

.videocont > video{
    height: 585px;
}
.videocont > img{
    height: 585px;
}

.soundicon{
    display: flex;
    position: absolute;
    background-color: rgb(38, 38, 38);
    height: 28px;
    width: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
}

.profileicon{
    border-radius: 100px;
    display: flex;
    position: absolute;
    height: 28px;
    width: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    bottom: 20px;
    left: 20px;
}

.likebar{
    display: flex;
    height: 40px;
    margin: 4px 0px 4px 0px;
    width: 470px;
}

.likeiconscont{
    display: flex;
    width: 235px;
}

.likeicons{
    padding: 8px;
}

.saveicon{
    display: flex;
    width: 235px;
    flex-direction: row-reverse;
}

.peoplelikedcont{
    display: flex;
    height: 18px;
    width: 470px;
    align-items: center;
    gap: 2px;
}

.peopleprocont{
    display: flex;
    position: relative;
    width: 30px;
    height: 18px;
}

.pro{
    height: 14px;
    width: 14px;
    overflow: hidden;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    border: 2px solid #000000;
}

.pro1{
    left: 1px;
}
.pro2{
    right: 1px;
}

.peopleliketext{
    font-size: 14px;
    height: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.postdetails{
    width: 470px;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.viewcomments{
    height: 18px;
    width: 470px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    margin-bottom: 6px;
}

.postbottom{
    display: flex;
    flex-direction: column;
    width: 470px;
}

.addcomments{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(168, 168, 168);
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(38, 38, 38);
}

.emojiicon{
    display: flex;
    align-items: center;
}

.postusername{
    font-weight: 600;
}

.more{
    color: rgb(168, 168, 168);
}

.setcont{
    display: flex;
}

.setcontoptions{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 21vw;
    height: 100vh;
    overflow-y: scroll;
}

.heading{
    color: #ffffff;
    margin-top: 18px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}

.setcontsubop{
    width: 58vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f62a7f;
}

/* .infobox{
    background-color: rgb(38, 38, 38);
    margin-top: 24px;
    height: 203px;
    width: 227px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    align-self: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
} */

.infoboxhead{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;
}